/.env.sh
/cmd/server/cm-server
/cmd/subscriber/cm-subscriber
/cmd/scheduler/cm-scheduler
/cmd/fetcher/cm-fetcher
/cmd/ws/cm-ws
/cmd/cron/cm-cron*
/internal/configs/.config.yml
/.idea/*
/cmd/server/server.log
/cmd/ws/ws.log
/cmd/cron/cron*.log
/cmd/subscriber/subscriber.log
/cmd/scheduler/scheduler.log
/cmd/server/ca/*
/cmd/server/server
/docs/
/logs/*

*.toml
*.env
*.bazel